

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
footer{
	background: #212121;
	color: #FFFFFF;
	padding-bottom: 100px;
}

.v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid gray;
}



