

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top: 70px;
}

footer{
	background: #212121;
	color: #FFFFFF;
	padding-bottom: 100px;
}

/*hace las ancho la barra de menu*/
.navbar-default{ 
	background: #2196F3;
	color: #FFFFFF;
	border: 0px;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
	text-shadow: none; /*Quita la sombra de la marca y del menu*/
}

/*el color del brand*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #1976D2;
	background-color: transparent;
}

/*Para los menus que estan activados*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 	color: #2196F3;
 	background: #1976D2;
 }

/*Para los menus que se les pasa el mouse*/
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
 	color: #2196F3;
 	background: #1976D2;
 }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	color: #2196F3;
 	background: #1976D2;
}

/*los colores para el menu desplegable*/
 .navbar-default .navbar-nav .dropdown-menu,
 .navbar-default .navbar-nav .dropdown-menu >li >a {
 	color: #FFFFFF;
 	background: #2196F3;
 }

 /*los colores para el menu desplegable - sombras*/
 .navbar-default .navbar-nav .dropdown-menu >li >a:hover,
 .navbar-default .navbar-nav .dropdown-menu >li >a:focus {
 	color: #2196F3;
 	background: #1976D2;
 }

/*BOTONES!*/
.btn-primary {
	background: #2196F3;
	border-color: #2196F3;
	color: #FFFFFF;
	text-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background: #1976D2;
	color:  #FFFFFF;
	border-color: #1976D2;
}




/*quitar el borde al toggle*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
 	background-color: #1976D2;
}

.navbar-default .navbar-toggle .dropdown-menu  {
	color: #FFFFFF;
 	background: #2196F3;
}





.navbar-brand>img{
	height: 100%;
	width: auto;

}

.large-center{
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.margintop50{
	margin-top: 50px;
	margin-bottom: 50px;
}





.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }



